body{
    background-color: white;
    color:#892b77;
}
p{
    font-family: sans-serif; 
    font-size: 22px;
}
h1{
    font-size: 54px;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 36px;
}